/**
 * @author wangdi
 */

@charset "utf-8";
.settlement_bill_sale_mt20{margin-top: 20px;}
.settlement_bill_sale_ml15{margin-left: 15px;}
.settlement_bill_sale_center{text-align: center;}
.table {margin-bottom: 0px;}