/**
 * @author wangdi
 */

@charset "utf-8";
.contract_sale_mt20{margin-top: 20px;}
.contract_sale_ml15{margin-left: 15px;}
.contract_sales_none{display: none;}
.contract_sales_center{text-align: center;}
.table {margin-bottom: 0px;}