/*
 .LeftMenu_Menu ul {
  padding: 0px;
  list-style: none;
}

.LeftMenu_Menu li {
  padding-top: 12px;
  padding-bottom: 12px;
}

.LeftMenu_Menu {
  width: 240px;
  color: #FFFFFF;
  font-size: 14px;
  list-style: none;
  padding: 0px 0px 0px 0px;
  background-color: #353F4F;
}

.LeftMenu_Header, .LeftMenu_Footer {
  font-size: 20px;
  text-align: center !important;
  background-color: #424F63;
}

.LeftMenu_Header {
  cursor: default;
  font-weight: bold;
}

.LeftMenu_Footer {
  cursor: default;
  font-size: 12px;
}

.LeftMenu_Parent {
  color: #65CEA7;
  padding-left: 20px;
}

.LeftMenu_Parent:hover { 
  cursor: default;
}

.LeftMenu_Child {
  padding-left: 40px;
}

.LeftMenu_Child_Selected, .LeftMenu_Child:hover { 
  color: #65CEA7;
  cursor: default;
  background-color: #2A323F;
}

.LeftMenu_Menu i {
  font-size: 16px;
  margin-right: 10px;
}
*/
