.loginWindow {
  width: 400px;
  margin: auto auto auto auto;
}

.loginWindow .panel-heading {
  text-align: left;
}

.loginWindow .panel-body div {
  padding-top: 4px;
  text-align: center;
  padding-bottom: 4px;
}
