.loginWindow {
  width: 400px;
  margin: auto auto auto auto;
  border-color: #374152;
}

.loginWindow .panel-heading {
  text-align: left;
  border-color: #374152;
  background-color: #424F63;
}

.loginWindow .panel-body div {
  padding-top: 4px;
  text-align: center;
  padding-bottom: 4px;
}

.loginWindow button {
  color: #FFFFFF;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: #374152;
  /* outline: none!important; */
  background-color: #424F63;
}

.loginWindow button:focus, button:active:focus, button.active:focus, button.focus, button:active.focus, button.active.focus {
  outline: none!important;
}
