/******************************************************************************/
/* SqlListWindow */
/******************************************************************************/
/* 消除按钮的间距 */
.SqlListWindow .panel-body div:last-child {
  font-size: 0px;
}

.SqlListWindow .panel-body div form {
  display: inline;
}

.SqlListWindow .panel-body div form button:last-child{
  margin-left: 10px;
  margin-right: 10px;
}
